/*
!.*
!README.md
.DS_Store
.m2
.ssh
.bash_history
.bash_profile
.profile
.zsh_history
.Trash/
.zsh-update
.gitconfig.swp
.vim/backup
.vim/undo
.vim/bundle/*
.viminfo
.zcompdump
.*.swp
.adobe/
.android/
.cache/
.dropbox/
.eclipse_keyring
.fontconfig/
.gem/
.ievms/
.inkscape-etc/
.lein/
.netbeans/
.npm/
.rbenv/
.rvm/
.xbmc/
.zshenv
.smb
.config
.subversion
.cassandra*
.cups
.jline-clojure.main.history
.pgadmin_histoqueries
.pgpass
.psql_history
.bower
.java
.mocksmtp
.node-gyp
.htoprc
.yeoman
.gradle
.gdb_history
.Xauthority
.keepassx
.lesshst
.pcsx
.pip
.ranktracker.properties
