[user]
    name = Dan Shearmur
    email = dan.shearmur@gmail.com
[color]
    ui = auto
[core]
    whitespace = tab-in-indent,tabwidth=2
    fsyncobjectfiles = true
    preloadindex = true
[branch]
    autosetuprebase = always
[diff]
    mnemonicprefix = true
    renames = copy
[pack]
    threads = 0
[rerere]
    enabled = 1
[merge]
    log = true
    tool = vimdiff
    ff = false
[url "git@github.com:"]
    insteadOf = "gh:"
    insteadOf = "https://github.com/"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
    pushInsteadOf = "https://github.com/"
    pullInsteadOf = "github:"
    pullInsteadOf = "git://github.com/"
    pullInsteadOf = "https://github.com/"
