/*
!.*
!README.md
.DS_Store
.m2
.ssh
.bash_history
.bash_profile
.profile
.zsh_history
.Trash/
.zsh-update
.gitconfig.swp
.viminfo
.zcompdump
.*.swp
.adobe/
.android/
.cache/
.dropbox/
.eclipse_keyring
.fontconfig/
.gem/
.ievms/
.inkscape-etc/
.lein/
.netbeans/
.npm/
.rbenv/
.rvm/
.xbmc/
.zshenv
.smb
.config
.subversion
